absl-py==1.4.0
aiobotocore==2.5.4
aiofiles @ file:///C:/b/abs_9ex6mi6b56/croot/aiofiles_1683773603390/work
aiohttp==3.8.5
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.19.0
alabaster==0.7.13
altair==5.1.1
anaconda-client==1.12.0
anaconda-navigator==2.4.2
anyio==4.0.0
app==0.0.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
arrow @ file:///C:/b/abs_cal7u12ktb/croot/arrow_1676588147908/work
astroid==2.15.6
astropy==5.3.2
asttokens==2.3.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==23.1.0
Automat==22.10.0
autopep8==2.0.4
Babel==2.12.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache==1.6.6
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt==4.0.1
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black==23.7.0
bleach==6.0.0
blinker==1.6.2
blosc2==2.0.0
bokeh==3.2.2
bootstrapped==0.0.2
botocore==1.31.17
Bottleneck==1.3.7
brotlipy==0.7.0
cachetools==5.3.1
certifi @ file:///C:/b/abs_36eb5mzhph/croot/certifi_1690232276943/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
chardet==5.2.0
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.7
cloudpickle @ file:///C:/b/abs_3796yxesic/croot/cloudpickle_1683040098851/work
clyent==1.2.1
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
colorcet @ file:///C:/b/abs_46vyu0rpdl/croot/colorcet_1668084513237/work
comm==0.1.4
conda==22.9.0
conda-build @ file:///C:/b/abs_8di4gx5nj5/croot/conda-build_1692366837286/work
conda-content-trust @ file:///C:/b/abs_e3bcpyv7sw/croot/conda-content-trust_1693490654398/work
conda-package-handling @ file:///C:/b/abs_b9wp3lr1gn/croot/conda-package-handling_1691008700066/work
conda-repo-cli==1.0.41
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///C:/b/abs_fdzc90a1i7/croot/conda-index_1672127344383/work
conda_package_streaming @ file:///C:/b/abs_6c28n38aaj/croot/conda-package-streaming_1690988019210/work
configobj==5.0.8
configparser==6.0.0
constantly==15.1.0
contourpy==1.1.0
cookiecutter==2.3.0
cryptography==41.0.3
cssselect==1.2.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.0.2
cytoolz==0.12.2
daal==2023.2.1
daal4py==2023.2.1
dask==2023.9.0
datasets==2.14.4
datashader==0.15.2
datashape==0.5.4
DateTime==5.2
debugpy==1.6.7.post1
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch==20230430
dill==0.3.7
distributed==2023.9.0
django-freeze==0.9.0
docopt==0.6.2
docstring-to-markdown==0.12
docutils==0.20.1
entrypoints @ file:///C:/ci/entrypoints_1649926621128/work
et-xmlfile==1.1.0
etelemetry==0.3.0
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.12.3
fitz==0.0.1.dev2
flake8==6.1.0
Flask==2.3.3
flatbuffers==23.5.26
fonttools==4.42.1
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.4.0
fsspec==2023.9.0
future @ file:///C:/b/abs_3dcibf18zi/croot/future_1677599891380/work
gast==0.4.0
gensim==4.3.2
gitdb==4.0.10
GitPython==3.1.34
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.58.0
h11==0.14.0
h5py==3.9.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews==1.17.1
html5lib==1.1
httplib2==0.22.0
huggingface-hub==0.16.4
hvplot @ file:///C:/b/abs_2b13wifauw/croot/hvplot_1685998632349/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imagecodecs==2023.9.4
imageio==2.31.3
imagesize @ file:///C:/Windows/TEMP/abs_3cecd249-3fc4-4bfc-b80b-bb227b0d701en12vqzot/croots/recipe/imagesize_1657179501304/work
imbalanced-learn==0.11.0
importlib-metadata==6.8.0
importlib-resources==6.0.1
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
intake==0.7.0
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.25.2
ipython==8.15.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.1.0
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.18.2
jellyfish==1.0.0
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter @ file:///C:/Windows/TEMP/abs_56xfdi__li/croots/recipe/jupyter_1659349053177/work
jupyter-console @ file:///C:/b/abs_82xaa6i2y4/croot/jupyter_console_1680000189372/work
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter-ydoc==0.3.4
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server==2.7.3
jupyter_server_fileid @ file:///C:/b/abs_f1yjnmiq_6/croot/jupyter_server_fileid_1684273602142/work
jupyter_server_terminals==0.4.4
jupyter_server_ydoc @ file:///C:/b/abs_8ai39bligw/croot/jupyter_server_ydoc_1686767445888/work
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
keras==2.13.1
keyring==24.2.0
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
lazy_loader==0.3
libarchive-c==5.0
libclang==16.0.6
linkify-it-py==2.0.2
llvmlite==0.40.1
lmdb @ file:///C:/b/abs_556ronuvb2/croot/python-lmdb_1682522366268/work
locket @ file:///C:/ci/locket_1652904031364/work
looseversion==1.3.0
lxml==4.9.3
lz4 @ file:///C:/b/abs_064u6aszy3/croot/lz4_1686057967376/work
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661915841596/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins==0.4.0
mdurl==0.1.2
menuinst @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_455sf5o0ct/croots/recipe/menuinst_1661805970842/work
mistune==2.0.5
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
more-itertools==10.1.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack==1.0.5
multidict==6.0.4
multipledispatch==1.0.0
multiprocess==0.70.15
multitasking==0.0.11
munkres==1.1.4
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
navigator-updater==0.4.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.4.0
nest-asyncio==1.5.7
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
nibabel==5.1.0
nipype==1.8.6
nltk @ file:///C:/b/abs_a638z6l1z0/croot/nltk_1688114186909/work
notebook==7.0.3
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.8.5
numpy==1.24.3
numpydoc @ file:///C:/b/abs_cfdd4zxbga/croot/numpydoc_1668085912100/work
oauthlib==3.2.2
opencv-python==4.8.0.76
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
overrides==7.4.0
packaging==23.1
pandas==2.1.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel==1.2.2
param @ file:///C:/b/abs_f5xzp6ism6/croot/param_1684915326009/work
paramiko==3.3.1
parsel==1.8.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.0
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec==0.11.2
patsy==0.5.3
pdfminer.six==20221105
pdfplumber==0.10.2
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
pipreqs==0.4.13
pkginfo @ file:///C:/b/abs_d18srtr68x/croot/pkginfo_1679431192239/work
platformdirs==3.10.0
plotly==5.16.1
pluggy==1.3.0
ply==3.11
pooch==1.7.0
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
praw==7.7.1
prawcore==2.3.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
Protego==0.3.0
protobuf==3.20.3
prov==2.0.0
psutil==5.9.5
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycosat @ file:///C:/b/abs_4b1rrw8pn9/croot/pycosat_1666807711599/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///C:/b/abs_92z17k7ig2/croot/pyct_1675450330889/work
pycurl==7.45.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
pydocstyle @ file:///C:/b/abs_6dz687_5i3/croot/pydocstyle_1675221688656/work
pydot==1.4.2
pyerfa==2.0.0.3
pyflakes==3.1.0
Pygments==2.16.1
PyJWT==2.8.0
pylint==2.17.5
pylint-venv==3.0.2
pyls-spyder==0.4.0
Pympler==1.0.1
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
PyMySQL==1.1.0
PyNaCl @ file:///C:/Windows/Temp/abs_d5c3ajcm87/croots/recipe/pynacl_1659620667490/work
pyodbc==4.0.39
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PyPDF2==3.0.1
pypdfium2==4.19.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.19.3
PySocks @ file:///C:/ci/pysocks_1605307512533/work
pyspark==3.4.1
pytesseract==0.3.10
pytest==7.4.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
python-lsp-black==1.3.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.4
python-slugify==8.0.1
python-snappy @ file:///C:/b/abs_61b1fmzxcn/croot/python-snappy_1670943932513/work
PythonTurtle==0.3.2
pytoolconfig @ file:///C:/b/abs_18sf9z_iwl/croot/pytoolconfig_1676315065270/work
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyviz_comms==3.0.0
PyWavelets @ file:///C:/b/abs_a8r4b1511a/croot/pywavelets_1670425185881/work
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.11
pyxnat==1.6
PyYAML==6.0
pyzmq==25.1.1
QDarkStyle==3.1
qstylizer @ file:///C:/b/abs_ef86cgllby/croot/qstylizer_1674008538857/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome==1.2.3
qtconsole==5.4.4
QtPy==2.4.0
queuelib==1.6.2
rdflib==7.0.0
referencing==0.30.2
regex==2023.8.8
requests==2.28.1
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-mock==1.11.0
requests-oauthlib==1.3.1
requests-toolbelt @ file:///C:/b/abs_2fsmts66wp/croot/requests-toolbelt_1690874051210/work
responses==0.23.1
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich==13.5.2
rope==1.9.0
rpds-py==0.10.2
rsa==4.9
Rtree @ file:///C:/b/abs_e116ltblik/croot/rtree_1675157871717/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
s3fs==2023.9.0
sacremoses==0.0.53
safetensors==0.3.3
scikit-image==0.21.0
scikit-learn @ file:///C:/b/abs_55olq_4gzc/croot/scikit-learn_1690978955123/work
scikit-learn-intelex==20230426.122314
scipy==1.11.2
Scrapy==2.10.1
seaborn @ file:///C:/b/abs_68ltdkoyoo/croot/seaborn_1673479199997/work
selenium==4.12.0
Send2Trash==1.8.2
service-identity==23.1.0
simplejson==3.19.1
sip==6.7.11
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post9
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sockets==1.0.0
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.5
Sphinx==7.2.5
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
spyder==2.3.9
spyder-kernels==2.4.4
SQLAlchemy==2.0.20
stack-data==0.6.2
statsmodels @ file:///C:/b/abs_7bth810rna/croot/statsmodels_1689937298619/work
streamlit==1.26.0
sympy==1.12
tables @ file:///C:/b/abs_52tcd9b9dp/croot/pytables_1685123233455/work
tabula==1.0.5
tabulate==0.9.0
tbb==2021.10.0
tblib==2.0.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
tesseract==0.1.3
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance==4.5.0
threadpoolctl==3.2.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile==2023.8.30
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tldextract==3.4.4
tokenizers==0.13.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tomlkit==0.12.1
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch @ file:///C:/b/abs_abjetg6_iu/croot/pytorch_1686932924616/work
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
traits==6.3.2
transformers==4.32.1
trio==0.22.2
trio-websocket==0.10.3
Twisted @ file:///C:/b/abs_f1pc_rieoy/croot/twisted_1683796899561/work
twisted-iocpsupport==1.0.4
types-PyYAML==6.0.12.11
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3.1
uc-micro-py==1.0.2
ujson==5.8.0
Unidecode==1.3.6
update-checker==0.18.0
uri-template==1.3.0
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
validators==0.22.0
w3lib==2.1.2
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.2
Werkzeug==2.3.7
whatthepatch==1.0.5
widgetsnbextension==4.0.8
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wrapt==1.15.0
wsproto==1.2.0
xarray==2023.8.0
xlwings==0.30.11
xmltodict==0.13.0
xxhash==3.3.0
xyzservices==2023.7.0
y-py==0.6.0
yapf==0.40.1
yarg==0.1.9
yarl==1.9.2
yfinance==0.2.25
ypy-websocket==0.8.4
zict==3.0.0
zipp==3.16.2
zope.interface==6.0
zstandard==0.21.0
